/* General Styles */

* {
  box-sizing: border-box;
}

body, html {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;  /* prevent global scrollbar */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3a3a3a;  /* Lightened main background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f0f0f0;
}

.App-link {
  color: #61dafb;
}

.main-app-container {
  padding: 20px;
  background-color: #7e7c7c;  /* Lightened main background */
}

.main-separator {
  width: 100%;
  border-top: 5px solid #c41717;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-component-title {
  margin: 10px 0;
  font-size: 24px;
  color: #f0f0f0;
  background-color: #7e7c7c;  /* Adjusted to a slightly lighter shade */
  padding: 5px 10px;
  border-radius: 5px;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
  height: 90vh;
  background-color: #cecece;  /* Lightened main background */
}

.main-content {
  flex: 3;
  overflow-y: auto;
  padding-right: 10px;
  border-right: 5px solid #3a3a3a; /* Adjusted for the lighter theme */
}

.monitor-sticky {
  flex: 2;
  position: sticky;
  top: 0;
  overflow-y: auto;
  height: calc(100vh - 70px);
  padding: 20px;
  background-color: #cecece;  /* Adjusted to a slightly lighter shade for differentiation */
  color: #000000;
}

.main-component-section {
  padding: 20px;
}

.main-title {
  font-size: 70px;
  text-align: center;
  margin: 25px 0;
  color: #faf9f9;
  border-radius: 15px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #c41717;
}

/* Additional Styles */

.counter-container {
  font-weight: bold;
}

/* ...rest of your styles... */

